.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.inner {
    max-width: 1290px;
    margin: 0 auto;
}

.default {
    padding: 150px 0;
}

.default .title {
    max-width: 1290px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.default .title h2 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;

}

.default .title p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    text-align: center;

}